/*
 * PaySwarm CSS styles.
 */
.row {
  text-align: right;
}

.money {
  color: #666;
}

.label {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.section h2 {
  padding: 8px;
  color: #fff;
  background-color: #333;
}

.payswarm-session, .payswarm-session:hover {
  display: block;
  padding: 4px 4px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
  background-color: #390;
  background-image: -moz-linear-gradient(top, #33b000, #390);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b000), to(#390));
  background-image: -webkit-linear-gradient(top, #33b000, #390);
  background-image: -o-linear-gradient(top, #33b000, #390);
  background-image: linear-gradient(to bottom, #33b000, #390);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b000', endColorstr='#ff339900', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);  
}

.payswarm-session img {
  padding: 0 4px;
  height: 14px;
  vertical-align: middle;
}

/* Session menu */
.payswarm-session .payswarm-menu {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition-property: opacity, visibility;
  -moz-transition-property: opacity, visibility;
  -ms-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.payswarm-session:hover .payswarm-menu,
.payswarm-menu:hover {
  padding: 4px 2px 2px 2px;
  margin: 4px 0 0 0;
  height: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  -moz-transition-property: opacity, visibility;
  -ms-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.payswarm-menu {
  list-style: none;
  border-top: 1px solid #390;
}

.payswarm-menu-item {
  display: block;
  padding: 4px 2px 2px 2px;
}

.payswarm-menu-item:hover {
  background-color: #33b000;
}

.payswarm-menu-item a {
  color: #fff;
}

.payswarm-menu-item a:hover {
  text-decoration: none;
}

.purchase, .manage {
  margin: 20px 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.purchase-button, .purchase-button:hover {
  padding: 4px 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
  background-color: #390;
  background-image: -moz-linear-gradient(top, #33b000, #390);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b000), to(#390));
  background-image: -webkit-linear-gradient(top, #33b000, #390);
  background-image: -o-linear-gradient(top, #33b000, #390);
  background-image: linear-gradient(to bottom, #33b000, #390);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b000', endColorstr='#ff339900', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);  
}

.purchase-button:hover {
  background-color: #380;
  background-image: -moz-linear-gradient(top, #33a000, #380);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33a000), to(#380));
  background-image: -webkit-linear-gradient(top, #33a000, #380);
  background-image: -o-linear-gradient(top, #33a000, #380);
  background-image: linear-gradient(to bottom, #33a000, #380);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33a000', endColorstr='#ff338800', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 4px #3c0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 4px #3c0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 4px #3c0;  
}

.purchase-button img {
  padding: 0px 4px;
  margin: -2px 0 0 0;
  height: 16px;
  vertical-align: middle;
}

.asset-info {
  text-align: left;
}

.view-more, .view-more:hover {
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.payswarm_meta_box .inline {
  display: inline;
}
.payswarm_meta_box label {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 12px;
}
.payswarm_meta_box span {
  display: block;
}
.payswarm_meta_box input[type='text'] {
  margin-bottom: 3px;
  width: 99%;
}
.payswarm_meta_box input[type='checkbox'] {
  display: inline;
}
